.button {
  font-weight: $weight-bold;
  font-size: 13px;
  background-color: $blue-dark;
  color: $white;
  padding: 21px 41px;
  text-transform: uppercase;
  text-align: center;
  &--big {
    padding: 32px 27px;
  }
  &--transparent {
    background-color: transparent;
  }
  &--white {
    background-color: $white;
    color: $blue;
  }
  &--blue {
    background-color: $blue;
  }
  &--blue-light {
    background-color: $blue-light;
  }
  &--pink {
    background-color: $pink;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--outlined {
    background-color: transparent;
    border: 2px solid $blue-dark;
    color: $blue-dark;
    padding: 15px 25px;

    &.button--big {
      border-width: 3px;
      padding: 30px 25px;
    }
    &--thin {
      border-width: 1px;
    }
    &.button--white {
      border-color: $white;
      color: $white;
    }
  }
  &--contact {
    border: 1px solid $grey-light;
    background-color: transparent;
    color: $blue-dark;
    padding: 18px 19px;
    &.button--pink {
      color: $pink;
    }
  }
  &__container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-weight: $weight-medium;

    a {
      margin: 10px 0 5px 0;
    }
    i {
      font-size: 18px;
      + span {
        color: inherit;
        margin-left: 10px;
      }
    }
    span {
      color: $grey-light;
      font-size: 12px;
    }
  }
}

@media screen and (max-width: $bp-xl) {
  .button--big {
    padding: 30px 20px;
  }
}