.button {
  font-weight: $weight-bold;
  font-size: 12px;
  background-color: $blue-dark;
  color: $white;
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  &--big {
    padding: 30px 25px;
  }
  &--transparent {
    background-color: transparent;
  }
  &--white {
    background-color: $white;
    color: $blue;
  }
  &--blue {
    background-color: $blue;
  }
  &--blue-light {
    background-color: $blue-light;
  }
  &--pink {
    background-color: $pink;
  }
  &--yellow {
    background-color: $yellow;
  }
  &--outlined {
    background-color: transparent;
    border: 3px solid $blue-dark;
    &--thin {
      border-width: 1px;
    }
    &.button--white {
      border-color: $white;
      color: $white;
    }
  }
}

@media screen and (max-width: $bp-xl) {
  .button--big {
    padding: 30px 20px;
  }
}