.navlist {
  max-width: 450px;
  min-width: 300px;
  font-size: 36px;
  width: 50%;
  position: relative;
  z-index: 5;
  letter-spacing: 2px;
  p:not(.small) {
    font: inherit;
    color: inherit;
    line-height: 1.2em;
  }
  ul {
    margin-top: 15px;
  }
  li {
    position: relative;
    line-height: 1.5em;
    &:before {
      content: '-';
      font-weight: $weight-thin;
      position: absolute;
      left: -210px;
      top: 0;
      bottom: 0;
      width: 200px;
      text-align: right;
    }
    &:hover {
      a {
        text-decoration: underline;
      }
      &:before {
        content: 'Voir les';
        text-transform: uppercase;
        color: $black;
        font-size: 11px;
        font-weight: 300;
        line-height: 55px;
      }
    }
  }
}