.price {
  display: inline-block;
  text-align: left;
  color: $white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: $weight-light;
  span {
    font-weight: 800;
    font-size: 40px;
    display: block;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: $bp-xl) {
  .price {
    span {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: $bp-s) {
  .price {
    span {
      font-size: 30px;
    }
  }
}