/* Push sidebar */

.sidebar {
  background-color: $pink;
  color: $white;
  padding: 140px 50px 10px;
  display: flex;
  flex-direction: column;
  .price {
    margin: 40px 0 30px;
  }
  .button {
    margin: auto;
  }
}

/* White sidebar inside an image */
.img__sidebar {
  position: absolute;
  background-color: $white;
  top: 10%;
  right: 0;
  bottom: 10%;
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: $box-shadow;
  &--left {
    right: auto;
    left: 0;
  }
  &--full {
    bottom: 0;
  }
  &__rotate {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-right: auto;
    width: auto;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $weight-medium;
    padding: 20px 0;
    color: $black;
  }
  &__overtitle {
    @extend %title;
    margin: 20px 0 40px;
    line-height: 1.5em;
    font-size: 20px;
  }
  &__title {
    @extend %title;
    font-size: 32px;
    letter-spacing: 4px;
    width: fit-content;
    @supports (-ms-ime-align: auto) {
      //left: 0;
      //margin-left: -100%;
      //transform: none;
    }
  }
  &__brand {
    width: calc(100% + 40px);
    border-top: 1px solid $grey;
    padding: 20px;
  }
}

@media screen and (max-width: $bp-xxl) {
  .img__sidebar {
    width: 150px;
    &__title {
      font-size: 24px;
    }
    &__overtitle {
      font-size: 16px;
    }
    &__rotate {
      font-size: 12px;
    }
  }
}
@media screen and (max-width: $bp-xs) {
  .img__sidebar {
    width: 100%;
    max-width: unset;
    height: auto;
    position: relative;
    top: 0;
    &__overtitle {
      font-size: 12px;
      max-width: 100px;
      margin-top: 0;
      margin-bottom: 40px;
      line-height: 1.2em;
    }
    &__rotate, &__brand {
      display: none;
    }
    &__title {
      align-self: flex-start;
      margin-left: -40px;
      margin-bottom: 30px;
    }
  }
}