.homepage {
  //overflow-x: hidden;
  main {
    display: grid;
    grid-template-columns: 0 repeat(2, 0.7fr) repeat(4, 1fr) repeat(2, 0.7fr) 0;
    grid-gap: 50px;
    grid-auto-flow: column;
  }
  .lines {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 0 repeat(2, 0.7fr) repeat(4, 1fr) repeat(2, 0.7fr) 0;
    grid-gap: 50px;
    justify-items: flex-end;
    span {
      width: 1px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      grid-column-end: span 2;
      &:first-child {
        grid-column-start: 2;
        grid-column-end: span 2;
      }
      &:nth-child(3) {
        grid-column-end: 8;
        justify-self: flex-start;
      }
      &:last-child {
        grid-column-end: span 1;
        grid-column-start: 8;
      }
    }
  }
  .hero {
    grid-column-start: 1;
    grid-column-end: 11;
    background-image: linear-gradient(#bfd1e5, #fae8da, #fff);
    grid-row-start: 1;
    grid-row-end: span 4;
    padding: 50px;
    max-width: 100%;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-image: linear-gradient(#fff, rgba(white, 1));
      height: 400px;
    }
    .slider {
      &__hero {
        width: 100%;
        height: 80vh;
        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }

      }
      &__logo {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 50px;
        margin-top: auto;
        height: 50%;
        &:after {
          content: '';
          position: absolute;
          left: 50px;
          right: 50px;
          top: 2.2vw;
          bottom: 0;
          margin: auto;
          display: block;
          border: none;
          height: 1px;
          background-color: white;
          z-index: 20;
        }
        .swiper-slide {
          display: flex;
          transition: opacity 0.2s ease;
          align-items: center;
          &-prev {
            opacity: 0.3;
          }
          img {
            margin: auto;
            width: 100%;
            height: auto;
          }
          svg {
            width: 60%;
            margin: auto;
          }
          .baseline {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 20%;
            left: 0;
            right: 0;
            text-transform: uppercase;
            color: $white;
            font-size: 18px;
            letter-spacing: 4px;
            padding: 0 20px;
            &--left {
              font-size: 12px;
              letter-spacing: 2px;
              position: relative;
              width: auto;
              text-align: left;
              margin: auto;
              top: 3%;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .live {
    display: flex;
    grid-column-start: 2;
    grid-column-end: span 8;
    width: auto;
    grid-row-start: 2;
    grid-row-end: span 1;
    z-index: 1;
    margin-top: -20px;
    position: relative;
    text-transform: uppercase;
    &__title {
      background-color: white;
      padding: 20px 0;
      p {
        transform: translateX(-20px);
        &:after {
          right: auto;
          width: 30px;
        }
      }
    }
    img {
      width: 115px;
      height: auto;
    }
    &__top {
      padding: 20px 0 20px 20px;
      background-color: $white;
    }
    &__webcams {
      overflow: hidden;
      img {
        margin-left: -70px;
        padding: 10px;
        margin-top: -15px;
      }
      p {
        font-size: inherit;
      }
    }
    ul {
      background-color: $white;
      padding: 10px 0 10px 20px;
    }
    li {
      padding: 10px 20px;
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      text-align: center;
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: $weight-medium;
      border-left: 1px solid grey;
      img {
        //margin: 30px 0;
        //display: block;
      }
      span {
        display: block;
        font-size: 22px;
        letter-spacing: 4px;
        margin: 30px 0;
        sub {
          font-size: 11px;
          vertical-align: top;
          font-weight: normal;
        }
      }
    }
  }
  .scroll__container {
    display: block;
    grid-column-start: 2;
    grid-column-end: 11;
    width: 100%;
    text-align: center;
    grid-row: 4;
    p {
      display: inline-block;
      font-size: 11px;
    }
  }
  .accommodation {
    grid-column-start: 1;
    grid-column-end: span 10;
    grid-row: 5;
    position: relative;
    &__title {
      display: inline-block;
      text-align: left;
      background-color: $pink;
      font-style: italic;
      font-weight: $weight-bold;
      font-size: 13px;
      padding: 20px 30px 20px 40px;
      margin-bottom: -20px;
      z-index: 3;
      position: relative;
    }
    &__content {
      display: flex;
    }
    .img__container {
      width: 60%;
      &--right {
        width: 45%;
        right: 100px;
        position: relative;
        top: 180px;
      }
      img {
        width: 100%;
        max-height: 1000px;
        object-fit: cover;
      }
    }
    .navlist {
      margin-top: -10%;
      margin-bottom: 5%;
      left: 35%;
      transform: translateX(-50%);
      color: $pink;
      .small {
        margin: 20px 0;
      }
    }
  }
  .restaurants {
    grid-column: 7 / -1;
    grid-column-start: 7;
    grid-column-end: 11;
    grid-row: 6;
    min-width: 310px;
    justify-self: flex-end;
    img {
      display: flex;
    }
    .text__container {
      background-color: $pink;
      position: relative;
      padding: 10px;
      text-align: right;
      p {
        z-index: 2;
        position: relative;
        margin: 10px 10%;
        font-size: 24px;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: -100%;
        bottom: 0;
        height: 200%;
        background-color: white;
        width: 40%;
      }
    }
  }
  .trip {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 6;
    background-color: $pink;
    padding: 30px 50px 0;
    text-transform: uppercase;
    min-width: 390px;
    margin-top: 230px;
    color: $white;
    &__title {
      font-weight: bold;
      font-size: 20px;
      z-index: 2;
      letter-spacing: 2px;
      position: relative;
      margin-left: -4px;

      span {
        font-size: 54px;
        display: block;
        font-weight: 800;
      }
    }
    .text__container {
      display: flex;
      justify-content: space-between;
      height: 105px;
      font-size: 11px;
      font-weight: 300;
      width: calc(100% - 50px);
      padding-top: 20px;
      margin-bottom: 40px;
      span {
        font-size: 36px;
        display: block;
        font-weight: 800
      }
    }
    img {
      z-index: 1;
      margin-top: -20px;
    }
  }
  .activities {
    grid-column-start: 6;
    grid-column-end: 9;
    grid-column: 6 / -2;
    grid-row: 7;
    margin-left: -100px;
    margin-top: -273px;
    position: relative;
    order: 2;
    > img {
      min-height: 450px;
    }
    .img__sidebar {
      top: 78px;
      &__title {
        align-self: flex-end;
      }
    }
    + .img__container {
      grid-column: 2 / 6;
      margin-top: 30%;
      grid-row: 7 / span 2;
      height: 100%;
    }
    &__list {
      grid-column-start: 3;
      grid-column-end: 8;
      grid-column: 3 / -3;
      grid-row: 9;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      .navlist {
        margin: -20px 0 0;
        left: 30%;
        transform: translateX(-50%);
        color: $orange;
        order: 2;
        li:hover {
          &:before {
            content: '-';
            font: inherit;
            font-weight: $weight-thin;
            color: inherit;
          }
        }
      }
      .activity {
        width: 50%;
        flex-basis: auto;
        flex: 1 1;
        @supports (object-fit: cover) {
          flex: auto;
          width: auto;
        }
        &:nth-child(2) {
          margin: 0 50px;
        }
        &:only-of-type {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            background-color: $orange;
            height: 100%;
            width: 75px;
            right: 0;
            top: 0;
          }
        }
        img {
          max-width: 100%;
          height: auto;
          width: auto;
          display: block;
        }
      }
      a {
        background-color: $orange;
        //display: block;
        //padding: 20px;
        margin-left: auto;
        //color: $white;
        //text-transform: uppercase;
        //font-weight: bold;
        position: absolute;
        bottom: -75px;
        right: 0;
      }
      p {
        order: 2;
        margin-bottom: 10px;
      }
    }
    &__group {
      display: flex;
      flex-basis: 62%;
      align-self: stretch;
      justify-content: flex-start;
      &:last-of-type {
        flex-direction: column;
        order: 1;
        flex-basis: 33%;
        position: relative;
        align-self: flex-start;
        .activity {
          width: 100%;
        }
      }
    }
  }
  .offer {
    grid-column-start: 1;
    grid-column-end: span 10;
    grid-row: 10;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 80px;
    &__title {
      background-color: $blue-sky;
      color: $white;
      margin-left: auto;
      padding: 30px 10% 30px 30px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      position: relative;
      span {
        font-size: 45px;
        display: block;
        font-weight: 800;
        letter-spacing: 3px;
      }
      &--hidden {
        color: transparent;
        margin-top: -2px;
        bottom: 0;
        right: 0;
        position: absolute;
      }
    }
    .swiper-slide {
      position: relative;
    }
    .swiper__navigation {
      flex-basis: auto;
      flex-grow: 1;
      text-align: center;
      height: auto;
      z-index: 2;
    }
    &__text {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      padding: 30px;
      text-transform: uppercase;
      color: $white;
      font-size: 13px;
      width: 100%;
      text-align: right;
      p {
        display: inline-block;
        text-align: left;
        &:first-child {
          margin-right: 15%;
        }
      }
      span {
        font-weight: 800;
        font-size: 40px;
        display: block;
        letter-spacing: 2px;
      }
    }
    img {
      max-width: 100%;
      display: block;
    }
  }

  .magazine {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row: 11;
    display: flex;
    flex-wrap: wrap;
    .text__container {
      padding: 30px 20px 0;
    }
    p {
      color: $grey;
      line-height: 1.8em;
      letter-spacing: 1px;
      margin-top: 20px;
      width: 70%;
    }
    article {
      flex-basis: calc(50% - 25px);
      margin-top: calc(10% - 20px);
      display: flex;
      flex-direction: column;
      &:first-child {
        margin-right: 50px;
      }
      .title--underline {
        font-size: 10px;
        margin-left: auto;
        padding-left: 30px;
        padding-bottom: 10px;
        margin-top: 10px;
      }
    }
    &__aside {
      grid-column-start: 8;
      grid-column-end: span 3;
      grid-row: 11;
      position: relative;
      max-width: 330px;
      justify-self: flex-end;
      > img {
        height: 100%;
        object-fit: cover;
      }
      .img__sidebar {
        max-width: 60%;
        // - 20vh to compensate the -10% top and bottom margin
        max-height: calc(1000px - 20vh)
      }
      .img__sidebar__title {
        align-self: flex-start;
      }
    }
  }

  .experience {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row: 12;
    display: grid;
    grid-template-columns: 0 repeat(2, 0.7fr) repeat(4, 1fr) repeat(2, 0.7fr) 0;
    grid-template-rows: 1fr auto;
    grid-gap: 50px;
    margin-top: 100px;
    &__text {
      flex-basis: 40%;
      grid-column-start: 2;
      grid-column-end: 5;
      padding-left: 1vw;
      text-align: right;
      margin: auto;
      p {
        font-size: 40px;
      }
      span {
        color: #efd401;
      }
    }
    &__image {
      grid-column-start: 6;
      grid-column-end: 11;
      grid-row-start: 1;
      grid-row-end: span 2;
      flex-basis: 60%;
      position: relative;
      display: flex;
      align-items: center;
      .img__container {
        height: 100%;
      }
      img {
        height: 100%;
        display: block;
      }

      &:before {
        position: absolute;
        background-color: #efd401;
        height: 100%;
        content: '';
        width: 100px;
        left: -50px;
        top: 0;
      }
    }
    &__avoriaz {
      position: absolute;
      width: 100%;
      svg {
        width: 50%;
        display: block;
        margin: auto;
      }
      img {
        height: auto;
        width: 100%;
        display: block;
        margin: auto;
      }
    }
    &__button {
      grid-column-start: 1;
      grid-column-end: 7;
      grid-row-start: 2;
      z-index: 2;
      background-color: $black;
      height: 200px;
      text-align: right;
      position: relative;
      a {
        margin-right: 100px;
        margin-top: -20px;
        .title--m {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-xxl) {
  .homepage {
    .trip {
      &__title {
        font-size: 20px;
        span {
          font-size: 40px;
        }
      }
      .text__container {
        span {
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-l) {
  .homepage {
    .hero {
      .slider__logo {
        //height: 50%;
        //bottom: 0;
        .swiper-slide {
          .baseline--left {
            position: absolute;
            text-align: center;
            width: 100%;
            bottom: 25%;
            left: 0;
            right: 0;
            top: auto;
          }
          svg {
            width: 80%;
          }
        }
        &:after {
          top: 2.8vw;
        }
      }
    }
    .activities__list {
      grid-column-start: 2;
      grid-column-end: span 9;
    }
    .magazine {
      p {
        width: 90%;
      }
    }
    .experience__text p {
      font-size: 34px;
    }
  }

}

@media screen and (max-width: $bp-m) {
  .homepage {
    .accommodation {
      .img__container {
        &--right {
          right: 50px;
        }
      }
    }
    .activities {
      + .img__container {
        grid-column-end: 7;
      }
    }
    .magazine {
      flex-direction: column;
      flex-wrap: nowrap;
      &__aside {
        min-width: 200px;
        max-height: 750px;
      }
      article {
        margin-right: 50px;
        margin-top: calc(10vh - 20px);
      }
    }
    .experience__text p {
      font-size: 32px;
    }
  }
}

@media screen and (max-width: $bp-s) {
  .homepage {
    .hero {
      .slider__logo {
        height: 50%;
        bottom: 0;
        .swiper-slide {
          svg {
            width: 90%;
          }
        }
        &:after {
          top: 4.3vw;
        }
      }
    }
    .live {
      //flex-wrap: wrap;
      margin: auto;
      //width: 80%;
      background-color: $white;
      &__title {
        position: absolute;
        background: none;
      }
      &__top {
        background: none;
        margin: auto;
        //margin: auto;
        //padding: 20px;
        //height: 100%;
        //width: auto;
        //object-fit: contain;
      }
      ul {
        margin: auto;
        flex-wrap: nowrap;
        display: flex;
        padding-left: 0;
      }
      li {
        span {
          margin-top: 30px;
        }
      }
    }
    .accommodation {
      .img__container {
        width: 80%;
        left: auto;
        right: auto;
        margin: 0 auto;
        top: 0;
        &--left {
          display: none;
        }
      }
      .navlist {
        left: auto;
        right: auto;
        transform: none;
        width: 70%;
        margin: 0 auto;
        max-width: unset;
        min-width: 0;
      }
    }
    .restaurants {
      grid-column-start: 2;
      grid-column-end: 10;
      width: 100%;
      .text__container p {
        font-size: 30px;
      }
      img {
        max-height: 500px;
        object-position: bottom;
      }
    }
    .trip {
      grid-row-start: 7;
      margin-top: 0;
      grid-column-start: 2;
      grid-column-end: 10;
      padding: 50px 30px 30px;
      min-width: 0;
      img {
        max-height: 500px;
        height: 70vw;
      }
      .text__container {
        width: 100%;
        margin-bottom: 0;
      }
    }
    .activities {
      grid-row-start: 8;
      margin-top: 0;
      grid-column-start: 2;
      grid-column-end: 10;
      margin-left: 0;

      &__list {
        grid-column-start: 1;
        grid-column-end: 10;
        .navlist {
          left: auto;
          right: auto;
          transform: none;
          width: 80%;
          margin: -25px 0 30px auto;
        }
        .small {
          display: none;
        }
        .activity:nth-child(2) {
          margin-right: 0;
        }
        a {
          position: static;
        }
      }
      &__group {
        flex-basis: 100%;
        &:last-of-type {
          flex-basis: calc(100% - 50px);
          order: 3;
          margin-left: auto;
        }
      }
      + .img__container {
        display: none;
      }
    }
    .offer {
      &__title, &__text {
        span {
          font-size: 36px;
          letter-spacing: 2px;
        }
      }
      &__text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
    }
    .experience {
      &__text {
        display: none;
      }
      &__image {
        grid-column-start: 2;
        &:before {
          left: 0;
        }
      }
      &__button {
        padding-bottom: 50px;
        height: auto;
        padding-left: 100px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .homepage {
    .hero {
      padding: 0;
      margin-top: 70px;
      .slider__hero {
        height: calc(80vh + 100px);
      }
      .slider__logo {
        height: 60%;
        .swiper-slide {
          svg {
            width: 90%;
            min-height: 0;
          }
        }
        &:after {
          left: 0;
          right: 0;
          top: 4.8vw;
        }
      }
    }
  }

}

@media screen and (max-width: $bp-xs) {
  .homepage {
    main, .experience {
      grid-template-columns: 0 repeat(4, 1fr) 0;
      grid-gap: 50px 30px;
    }
    .lines {
      grid-template-columns: 0 repeat(4, 1fr) 0;
      span {
        grid-column-end: span 2;

        &:first-child {
          grid-column-end: span 1;
        }
        &:nth-child(3) {
          grid-column-end: -1;
        }
      }
    }
    .hero {
      .slider__logo {
        &:after {
          top: 6.5vw;
        }
      }
    }
    .live {
      width: auto;
      flex-direction: column;
      &__top {
        padding-bottom: 0;
      }
      li {
        &:first-child {
          border: none;
        }
        span {
          padding: 17px 0;
        }
      }
    }
    header, .hero, .offer {
      grid-column-end: -1;
    }
    .live, .scroll__container, .accommodation, .restaurants, .trip, .activities, .magazine, .activities__list, .experience {
      grid-column-end: -2;
    }
    .scroll__container {
      display: none;
    }
    .accommodation {
      grid-column-start: 2;

      &__title {
        display: none;
      }
      .img__container--right {
        width: 100%;
        img {
          max-height: 70vw;
          display: block;
        }
      }
      .img__sidebar {
        top: 0;
      }
    }
    .restaurants {
      min-width: unset;
      .text__container {
        p {
          font-size: 24px;
        }
        &:after {
          top: -50%;
          height: 150%;
        }
      }
      img {
        max-height: 70vw;
      }

    }
    .activities {
      img {
        height: 75vw;
        min-height: 0;
      }
      .img__sidebar {
        top: 0;
        &__title {
          align-self: flex-start;
        }
      }
    }

    .activities + .img__container {
      grid-column-end: 6;
    }
    .offer {
      .swiper-container {
        justify-content: center;
      }
      &__text {
        span {
          font-size: 26px;
        }
      }
      &__title {
        margin: 0 auto;
        right: auto;
        width: calc(100% - 100px);
        font-size: 18px;
        span {
          font-size: 26px;
          letter-spacing: 1px;
        }
        &--hidden {
          position: relative;
          order: 1;
          height: 40px;
        }
      }
      .swiper__navigation {
        order: 2
      }
    }
    .magazine {
      grid-row: 12;
      //grid-column-end: 5;
      &__aside {
        grid-column-start: 2;
        grid-column-end: -2;
        max-width: unset;
        justify-self: auto;
        .img__sidebar {
          max-width: unset;
        }
        img {
          display: none;
        }

      }
      article {
        margin-top: 0;
        margin-right: 0;
        flex-basis: 100%;
        padding-bottom: 30px;
        &:first-child {
          margin-top: -50px;
          margin-right: 0;
        }
      }
    }
    .experience {
      grid-row: 13;
      grid-column-start: 2;
      margin-top: 0;
      margin-bottom: 80px;
      position: relative;
      min-height: 200px;
      &__text {
        position: absolute;
        z-index: 10;
        flex-basis: 100%;
        padding: 0;
        text-align: left;
        display: block;
        grid-column-start: 1;
        grid-column-end: 7;
        top: 50px;
        left: 40%;
        p:last-child {
          display: none;
        }
        p {
          color: white;
          font-size: 12px;
          text-transform: uppercase;
        }
      }
      &__image {
        grid-column-start: 1;
        grid-column-end: -1;
        .img__container {
          flex-basis: 50%;
        }
        &:before {
          content: none;
        }
      }
      &__avoriaz {
        position: relative;
        display: flex;
        background-color: black;
        left: auto;
        height: 100%;
        padding: 20px 0;
        svg {
          height: 100%;
          width: 80%;
        }
      }
      &__button {
        padding: 0;
        background-color: transparent;
        top: 20px;
        a {
          margin-right: auto;
          background-color: $yellow;
          border: none;
          color: $black;
          padding: 15px;
          margin-left: 40px;
          .title--d {
            display: none;
          }
          .title--m {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $bp-xxs) {
  .homepage {
    .lines {
      span {
        &:first-child {
          grid-column-end: span 2;
        }
        &:nth-child(2) {
          display: none;
        }
      }
    }
    .live {
      width: auto;
      &__top {
        padding: 10px;
      }
      li {
        padding: 10px;
        span {
          font-size: 18px;
          margin: 15px 0;
        }
      }
    }
    .accommodation {
      .small {
        display: none;
      }
      .navlist {
        margin-top: 30px;
      }
    }
    .trip {
      padding: 30px 30px 0;
      &__title {
        span {
          font-size: 32px;
        }
      }
      .text__container {
        span {
          font-size: 28px;
        }
      }
    }
    .activities {
      &__list {
        .activity {
          &:nth-child(2) {
            margin-left: 30px;
          }
        }
        .navlist {
          margin-top: -10px;
          min-width: 0;
        }
      }
      &__group {
        &:last-child {
          img {
            height: 60vw;
          }
        }
      }
    }
  }
}