.page {
  .wrapper {
    display: grid;
    grid-template-columns: $grid-columns;
    grid-gap: 50px;
  }
  main {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 11;
    display: flex;
    margin-top: 0;
    flex-direction: column;
    width: 100%;
  }
  .hero {
    background-color: $blue-light;
    grid-row-start: 1;
    grid-row-end: span 2;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    justify-content: center;
    padding-left: 10%;
    flex-shrink: 0;
    @media screen and (orientation: portrait) {
      height: 65vh;
    }
    img {
      width: 75%;
      position: absolute;
      right: 0;
      height: 100%;
      object-fit: cover;
      object-position: right;
      top: 0;
      bottom: 0;
    }
    &__title {
      font-size: 85px;
      letter-spacing: 4px;
      color: $white;
      text-transform: uppercase;
      font-weight: $weight-black;
      padding: 20px;
      position: relative;
      width: 70%;
      z-index: 1;
    }
    &__subtitle {
      font-weight: $weight-bold;
      font-size: 14px;
      letter-spacing: 2px;
      color: $white;
      text-transform: uppercase;
      text-align: left;
      width: 60%;
      padding: 20px;
      margin-top: 0;
      z-index: 1;
    }
  }
  .heading {
    background-color: $blue-light;
    color: $white;
    margin-top: -50px;
    padding: 5% 0;
    flex-shrink: 0;
    &__text {
      width: 75%;
      margin-left: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }
    .subhead {
      text-transform: uppercase;
      color: rgba($white, 0.5);
      font-weight: $weight-bold;
      flex-basis: 10%;
      margin-left: -10%;
    }
    .head {
      flex-basis: 50%;
      min-width: 450px;
      margin-top: 30px;
      font-size: 42px;
      letter-spacing: 1px;
      line-height: 1.3em;
    }
    .icon-chevron-down {
      display: block;
      font-size: 12px;
      margin-top: 30px;
      margin-left: 10px;
    }
  }
  .content {
    margin-top: 150px;
  }
}


@media screen and (max-width: $bp-xxl) {
  .page {
    .hero {
      &__title {
        font-size: 75px;
        width: 80%;
      }
    }
  }
}



@media screen and (max-width: $bp-xl) {
  .page {
    .heading {
      .head {
        flex-basis: 70%;
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: $bp-l) {
  .page {
    .heading {
      .head {
        min-width: 0;
      }
      .subhead {
        flex-basis: 15%;
        margin-left: -15%;
      }
    }
    .hero {
      &__title {
        font-size: 60px;
      }
    }
  }
}

@media screen and (max-width: $bp-s) {
  .page {
    .wrapper {
      grid-gap: 0;
    }
    .hero {
      &__title {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: $bp-xs) {
  .page {
    .hero {
      padding-left: 0;
      padding-top: 70px;
      height: auto;
      img {
        position: relative;
        order: -1;
        width: 100%;
      }
      &__title {
        font-size: 42px;
        width: 100%;
        padding: 30px 30px 15px;
        letter-spacing: 1px;
        word-wrap: break-word;
        hyphens: auto;
      }
      &__subtitle {
        width: 100%;
        padding: 0 30px;
      }
    }
    .heading {
      &__text {
        width: 100%;
        .subhead {
          display: none;
        }
        .head {
          flex-grow: 1;
          font-size: 24px;
          padding: 30px;
          i {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $bp-xxs) {
  .page {
    .heading {
      .head {
        font-size: 20px;
      }
    }
  }
}