header {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  color: $white;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  margin: 70px 0 0;
  transition: all 0.3s ease;
  i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: bottom;
  }
  .button.menu {
    color: $black;
  }
  .link__live {
    display: none;
  }
  &.sticky {
    position: sticky;
    grid-column-start: 1;
    width: 100%;
    top: 0;
    background: $white;
    color: $black;
    padding: 10px;
    .header__logos {
      display: block;
      img {
        width: 50px;
      }
    }
    .link__live {
      display: block;
    }
    .button--transparent {
      color: $blue;
      border: 1px solid $blue;
    }
    .button--big {
      padding: 15px;
    }
    .button.menu {
      background-color: $blue;
      color: $white;
    }
    .button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .header__logos {
    display: none;
  }
  .links__container {
    display: flex;
    align-items: center;
    a {
      //padding: 20px;
      &.book {
        //background-color: #ff4364;
      }
      &.menu {
        //background-color: white;
        //color: black;
      }
    }
  }
}

@media screen and (max-width: $bp-s) {
  header {
    .links__container {
      span {
        display: none;
      }
    }
    &.sticky .header__logos {
      display: none;
    }
  }
}

@media screen and (max-width: $bp-xs) {
  header {
    grid-column-start: 1;
    .button--big {
      padding: 20px;
    }
    .links__container {
      a:not(.menu) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $bp-xxs) {
  header {
    margin-top: 0;
  }
}