header {
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 20;
  color: $white;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-property: width, background-color, padding-left, padding-right, color;
  height: 110px;
  .logo {
    width: 300px;
    margin-left: 20px;
    max-width: 20vw;
    margin-top: 20px;
  }
  .logo--sticky {
    width: 200px;
    margin: 0 30px;
    display: none;
  }
  i {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: bottom;
  }
  .button.menu {
    color: $black;
    margin-top: -1px;
    i {
      vertical-align: sub;
    }
  }
  .button--book {
    span span {
      margin-left: 3px;
    }
  }
  .link__live {
    margin-left: 20px;
    padding: 15px 25px;
  }
  .link__logo {
    margin-right: auto;
  }
  &.sticky {
    position: sticky;
    grid-column-start: 1;
    width: 100%;
    top: 0;
    background: $white;
    color: $black;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
    .logo {
      display: none;
    }
    .link__logo {
      margin-right: 0;
    }
    .logo--sticky {
      display: block;
    }
    .header__logos {
      display: flex;
      align-items: center;
      margin-right: auto;
      padding-right: 10px;
      img {
        width: 50px;
        margin: 0 5px;
      }
    }
    .link__live {
      display: block;
    }
    .button--transparent {
      color: $blue;
      border: 1px solid $blue;
    }
    .button--big {
      padding: 15px;
    }
    .button.menu {
      background-color: $blue;
      color: $white;
    }
    .button {
      &:not(.link__live) {
        margin-right: 10px;
      }
      &.menu {
        margin-right: 0;
      }
    }
  }
  .header__logos {
    display: none;
  }
  .links__container {
    display: flex;
    align-items: center;
    i {
      margin-right: 10px;
      vertical-align: sub;
    }
  }
}

@media screen and (max-width: $bp-xl) {
  header {
    &.sticky {
      .header__logos {
        display: none;
      }
    }
  }
}

@media screen and (max-width: $bp-l) {
  header {
    .logo {
      max-width: 25vw;
    }
    .links__container {
      a {
        padding: 20px;
        margin-right: 10px;
      }
      a:not(.button--book):not(.menu) {
        background-color: $white;
        color: #a7adb7;
        border: 1px solid #a7adb7;
        width: 60px;
        i {
          margin-right: 0;
        }
        span {
          display: none;
        }
      }
      .button--book {
        //padding: 20px;
        //margin-right: 10px;
        span span {
          display: none;
        }
      }
      .menu {
        //padding: 20px;
        margin-right: 0;
        background-color: $blue;
        color: $white;
      }
    }
  }
}

@media screen and (max-width: $bp-s) {
  header {
    position: sticky;
    top: 0;
    .button--book {
      i {
        margin-right: 0;
      }
    }
    .links__container {
      span {
        display: none;
      }
    }
    &.sticky .header__logos {
      display: none;
    }
  }
}

@media screen and (max-width: 700px) {
  header {
    grid-column-start: 1;
    background-color: $white;
    height: auto;
    margin-top: 0;
    &.sticky {
      padding: 0;
      margin: 0;
    }
    .link__logo {
      order: -1;
      margin-right: 0;
      .logo {
        display: none;
        &--sticky {
          display: block;
        }
      }
    }
    .link__live.button--outlined {
      margin: auto;
      color: $blue;
      border-color: $blue;
    }
    .links__container {
      a:not(.button--book):not(.menu) {
        display: none;
      }
      .menu {
        padding: 30px 20px;
      }
      .button--book {
        position: fixed;
        bottom: 20px;
        left: 0;
        right: 0;
        display: block;
        margin: auto !important;
        width: 280px;
        padding: 25px;
        i {
          margin-right: 10px;
        }
        span, span span {
          margin-left: 4px;
          display: inline-block;
        }
      }
    }
  }
}

@media screen and (max-width: $bp-xs) {
  header {
    grid-column-start: 1;
    .button--big {
      padding: 20px;
    }
  }
}

@media screen and (max-width: $bp-xxs) {
  header {
    .logo--sticky {
      width: 150px;
      margin-right: 0;
      margin-left: 15px;
    }
    .link__live.button--outlined {
      padding: 10px 10px;
      margin: 20px 10px 20px 0;
    }
    .links__container {
      height: 100%;
      background-color: $blue;
      .menu {
        padding: 10px 10px;
      }
    }
  }
}