/*
@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Book.woff2") format("woff2"),
  url("../fonts/Gotham-Regular.woff") format("woff");
  font-weight: normal;
}
*/

$weight-thin: 200;
$weight-light: 300;
$weight-book: normal;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 800;
$weight-ultra: 900;

@font-face {
  font-family: 'Gotham';
  src: url("./../fonts/Gotham-Book.woff") format("woff"),
  url("../fonts/Gotham-Book.otf") format("opentype");
  font-weight: $weight-book;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-BookItalic.woff") format("woff"),
  url("../fonts/Gotham-BookItalic.otf") format("opentype");
  font-weight: $weight-book;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Light.woff") format("woff"),
  url("../fonts/Gotham-Light.otf") format("opentype");
  font-weight: $weight-light;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-LightItalic.woff") format("woff"),
  url("../fonts/Gotham-LightItalic.otf") format("opentype");
  font-weight: $weight-light;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Thin.woff") format("woff"),
  url("../fonts/Gotham-Thin.otf") format("opentype");
  font-weight: $weight-thin;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-ThinItalic.woff") format("woff"),
  url("../fonts/Gotham-ThinItalic.otf") format("opentype");
  font-weight: $weight-thin;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Medium.woff") format("woff"),
  url("../fonts/Gotham-Medium.otf") format("opentype");
  font-weight: $weight-medium;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-MediumItalic.woff") format("woff"),
  url("../fonts/Gotham-MediumItalic.otf") format("opentype");
  font-weight: $weight-medium;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Bold.woff") format("woff"),
  url("../fonts/Gotham-Bold.otf") format("opentype");
  font-weight: $weight-bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-BoldItalic.woff") format("woff"),
  url("../fonts/Gotham-BoldItalic.otf") format("opentype");
  font-weight: $weight-bold;
  font-style: italic;
}


@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Black.woff") format("woff"),
  url("../fonts/Gotham-Black.otf") format("opentype");
  font-weight: $weight-black;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-BlackItalic.woff") format("woff"),
  url("../fonts/Gotham-BlackItalic.otf") format("opentype");
  font-weight: $weight-black;
  font-style: italic;
}


@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-Ultra.woff") format("woff"),
  url("../fonts/Gotham-Ultra.otf") format("opentype");
  font-weight: $weight-ultra;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url("../fonts/Gotham-UltraItalic.woff") format("woff"),
  url("../fonts/Gotham-UltraItalic.otf") format("opentype");
  font-weight: $weight-ultra;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans"), local("ProductSans-Regular"), url("https://fonts.gstatic.com/s/productsans/v9/pxiDypQkot1TnFhsFMOfGShVF9eO.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


$font-gotham: "Gotham", "Arial", sans-serif;
