/** Colors **/
$black: #000;
$white: #fff;
$grey: #ececec;
$grey-dark: #66656a;
$grey-darks: #66656a;
$shakespeare: #4a9dd3;

/** Text shadow **/
$text-shadow: 2px 2px 2px rgba($black, 0.2);

/** Breakpoints **/
$bp-xxl: 1366px;
$bp-xl: 1280px;
$bp-l: 1024px;
$bp-m: 768px;
$bp-s: 640px;
$bp-xs: 480px;
$bp-xxs: 320px;
