/** Colors **/
$black: #2d2d2d;
$white: #fff;
$blue-dark: #3f4e63;
$blue: #94a8c9;
$blue-sky: #b3ddf6;
$blue-light: #b6c7df;
$pink: #ff4264;
$yellow: #efd401;
$orange: #dc8254;
$grey: #9c9c9c;
$grey-dark: #656565  ;
$grey-light: #ababab;

/** Text shadow **/
$text-shadow: 2px 2px 2px rgba($black, 0.2);
$box-shadow: 0 0 80px 20px rgba($black, 0.18);

/** Breakpoints **/
$bp-xxl: 1366px;
$bp-xl: 1280px;
$bp-l: 1024px;
$bp-m: 940px;
$bp-s: 768px;
$bp-xs: 640px;
$bp-xxs: 480px;

$grid-columns: 0 repeat(2, 0.7fr) repeat(4, 1fr) repeat(2, 0.7fr) 0;
$grid-columns-l: 0 repeat(2, 0.7fr) repeat(4, 0.7fr) repeat(2, 0.7fr) 0;
